section.profile-head .head img, section.top .logo img {
    height: 55px;
}

.modal.in .modal-dialog, .modal-order {
-webkit-overflow-scrolling: touch;
}

section.profile-body .customer-info .body .inventory label {
font-size: 18px;
margin-bottom: 0px;
}

section.profile-body .customer-info .body .inventory p {
margin-top: 0px;
font-size: 12px;
}