html,body{
  background-color: white;
  margin: 0;
  padding: 0;
  cursor: default;
  min-height: 100%;
  min-width: 100%;
  font-size: 14px;
  line-height: 17px;
  color #333333
  div, dl, dt, dd, ul, ol, li, nav, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td, a {
    margin: 0;
    padding: 0;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
    background-repeat: no-repeat;
  }
}
.d-n{
  display none
}
.pac-container {
  background-color: #fff;
  position: absolute!important;
  z-index: 99999;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial,sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.error-input{
  border 2px solid #e63a0f
}
.modal-dialog {
  max-width: 570px;
  margin 30px auto
}
#failedModal{
  .close{
    margin: -25px -40px;
    font-size: 34px;
  }
}
input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  min-width: 100%;
}

input[type="date"] {
  display: -webkit-inline-flex;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before { display: none }

button.disabled{
  opacity: 0.7;
  pointer-events: none;
}
.modal-balance{
  border-radius 10px
  padding 35px
  @media (max-width: 460px) {
    padding 10px

  }
  .close{
    position: absolute;
    top: -12px;
    right: 5px;
    color: white;
    font-size: 50px;
    opacity: 1;
  }
  .head{
    margin: -35px;
    text-align center
    background: transparent url("../images/admin/modal-head.png") no-repeat center center;
    background-size cover
    border-radius 5px
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    @media (max-width: 460px) {
      margin: -10px;
    }
    .title{
      padding: 10px 0;
      font-family: roboto_ltregular;
      font-size: 24px;
      line-height: 26px;
      text-transform: uppercase;
      color: #fff;
      @media (max-width: 550px) {
        font-size: 34px;
        line-height: 40px;
      }
      @media (max-width: 460px) {
        font-size: 28px;
        line-height: 34px;
      }
      span{
        font-weight bold;
      }
    }
  }
  .body{
    margin-top 50px
    .title{
      font-family: roboto_medium;
      font-size: 22px;
      line-height: 26px;
      text-align center
    }
    .paid-donate {
      .title{
        font-family: 'roboto_ltregular';
        font-size: 16px;
        line-height: 26px;
        margin: 10px 0;
      }
      .mg-t{
        margin-top 15px
      }
      .donate-company{
        border-radius: 3px;
        box-shadow: 0px 0px 10px rgba(129,162,117,0.5)
      }
      .donate-company.active{
        outline: 1px solid rgb(88, 183, 52);
        box-shadow: 0 0 20px rgba(129,162,117,0.7);
      }

      .donate-img{
      //height: 90px
        width 100%
        height: 100%;
        cursor pointer
      }
      .donate{
        width 32%
        display inline-block
        padding 0;
        padding-left 10px
      }
    }
    .choice{
      text-align center
      margin 15px 0
      .btn-group {
        box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
        position: relative;
      }
      .btn{
        border: none
        border-right: 2px solid #dddddd
      }
      .btn-default.active, .btn-default:active, .btn-default:hover, .open>.btn-default.dropdown-toggle {
        background-color: white;
        box-shadow: 0 0px 10px rgba(0,0,0,0.125);
      }
      .btn.active, .btn:active {
        outline: 0;
        border none;
        background-image: none;
        box-shadow: 0 0px 10px rgba(0,0,0,0.125);

      }
      label{
        padding: 15px 25px;
        @media (max-width: 550px) {
          padding: 10px;
        }
        @media (max-width: 460px) {
          padding: 10px 5px;

        }
        img{
          height 35px
          margin-right 10px
          @media (max-width: 460px) {
            height: 25px;
            margin-right: 0;
          }
        }
        span{
          vertical-align: -webkit-baseline-middle;
          font-family: roboto_ltregular;
          font-size: 16px;
          line-height: 20px;
        }
      }
    }
    .container{
      max-width: 400px;
      padding 0
      .paid-check{
        .col-md-6{
          @media (max-width: 998px) {
            margin-bottom 15px
          }
          .help-block{
            font-size: 14px;
            @media (max-width: 998px) {
              font-size: 16px;
            }
          }
        }
      }
      input{
        height 40px
      }
      button{
        margin-top 20px
        padding: 10px 30px;
        color: #333;
        font-family: roboto_medium;
        background: #ffea5c;
        border-radius: 2px;
        border-bottom 3px solid #d9c74e
      }
    }
  }
}

.container {
  max-width 1170px;
  @media (max-width: 1200px) {
    width auto;
  }
}

header {
  background #4f545c
  height 50px
  font-family: 'roboto_ltregular';
  .container {
    max-width 1170px;
    padding-top: 15px;
    @media only screen and (max-width: 700px) {
      padding-top: 12px;
    }
  }
  .navigate {
    display inline-block;
    @media only screen and (max-width: 700px) {
      display none
    }
    .active{
      a{
        font-family: roboto_medium;
        border-bottom 1px dotted white;
      }
    }
    li {
      display: inline-block;
      padding-right: 30px;
      text-transform uppercase
      font-size 16px
      @media only screen and (max-width: 785px) {
        padding-right: 10px;
      }
      a {
        color white;
        text-decoration none;
      }
    }
  }
  .navigate-mobile{
    position: relative
    z-index 999
    background #4f545c
    display none

    @media only screen and (max-width: 700px) {
      display block
    }
    .auth {
      float none;
      display none
      @media only screen and (max-width: 700px) {
        display block
      }
      .avatar{
        position relative
        background: #67a750;
        padding: 8px;
        margin: -13px;
        margin-left: -15px;
        vertical-align: super;
      }
      .id{
        font-size 20px
      }
      .settings{
        margin-left 5px
      }
    }
    .bar{
      float right
      i{
        vertical-align: -webkit-baseline-middle;
      }
    }
    .fa-bars{
      color white;
      font-size: 20px;
    }
    .collapse {
      display: none;
    }
    .collapse.in {
      display: block;
    }
     ul.navigate{
      background #4f545c
      margin: 10px -15px;
      padding: 10px;
       li{
         display block
         padding: 10px;
         border-bottom: 1px solid white;
         color: #fff;
         img{
           width 25px
           height 25px
           border-radius 13px
         }
       }
    }
  }
  .auth {
    float right;
    @media only screen and (max-width: 700px) {
      display none
    }
    .avatar{
      position absolute
      background: #67a750;
      padding: 8px;
      top: 0;
      margin: -1px 0 0 -35px;
      img{
        width 35px
        height 35px
        border-radius 35px
      }
    }

    li {
      display: inline-block;
      padding-left: 30px;
      color white;
      font-size 16px
      @media only screen and (max-width: 785px) {
        padding-left: 20px;
      }
      .settings{
        color: rgba(255, 255, 255, 0.32);
      }
      a {
        color white;
        text-decoration none;
        i{
          font-size: 20px;
          margin-left: 3px;
        }
      }
    }
  }
}
.dots{
  position: fixed;
  right: 0;
  margin-right: 50px;
  top: 25%;
  z-index: 99999;
  @media only screen and (max-width: 1120px) {
    display none;
  }
  ul{
    list-style-type none
    li{
      .circle{
        height: 22px;
        width: 22px;
        border: 2px solid #ffea5c;
        border-radius: 15px;
        display: block;
        margin-bottom: 7px;
      }
      .active{
        background #ffea5c
      }
    }
    a{
      text-decoration none
      color #ffea5c
    }
  }
}
section.top{
  .container {
    max-width 1170px;
  }
  max-width 1170px;
  height: 595px;
  background: transparent url("../images/front/top-layout.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  margin auto
  background-color: #5ba14b;
  @media only screen and (max-width: 800px) {
    background: transparent url('../images/front/top-layout.jpg') no-repeat 75%;
    background-size: cover;
  }
  @media only screen and (max-width: 450px) {
    background: transparent url("../images/front/top_layout_mobile.png") no-repeat 0% 0%;
    background-size: contain;
    min-height: 770px;
    background-color: #5ba14b;
  }
  @media only screen and (max-width: 350px) {
    min-height: 670px;
  }
  .logo{
    margin-top 30px
    img{
      display inline-block
      height: 35px;
      @media only screen and (max-width: 400px) {
        height: 30px;
      }
    }
    .delimiter{
      display inline-block
      height 55px;
      width 1px;
      margin: 0 20px 0 10px;
      background #333333
      vertical-align: middle;
      @media only screen and (max-width: 400px) {
        margin: 0 5px 0 5px;
        height 40px;
      }
    }
    p{
      font-family: 'roboto_ltregular';
      vertical-align: middle;
      font-size: 18px;
      display: inline-block;
      line-height: 24px;
      @media only screen and (max-width: 400px) {
        font-size: 16px;
        display: inline-block;
        line-height: 20px;
      }
    }
    .login.auth{
      z-index: 9;
      opacity 0
      width 0
      overflow hidden
      padding 10px 15px

      @media only screen and (max-width: 600px) {
        opacity 1
        width auto
        overflow visible
        display none
        height: auto;
      }
    }
    .login{
      z-index: 99;
      height 37px
      color: white;
      background #333333
      font-family: 'robotobold';
      font-size 16px
      padding 10px 0
      display inline-block
      position absolute;
      right 0;
      @media only screen and (max-width: 600px) {
        top: 30px;
      }

      a{
        padding 0 15px
        color white;
        text-decoration none;
      }
      i{
        color #ffea5c
      }
    }
  }
  .main-text{
    color: #fff;
    width: 310px;
    margin-top: 100px;
    float: right;
    margin-right: 10%;
    @media only screen and (max-width: 1120px) {
      margin-right: 1%;
    }
    @media only screen and (max-width: 900px) {
      width: 265px;
      margin-top: 115px;
    }
    @media only screen and (max-width: 450px) {
      position: absolute;
      bottom: 20px;
      text-align: center;
      margin-left: 5%;
      width: 300px;
    }
    @media only screen and (max-width: 350px) {
      position: absolute;
      bottom: 20px;
      text-align: center;
      margin 0
      width 280px
    }

    .title{
      font-family: roboto_medium;
      font-size: 32px;
      line-height: 44px;
      @media only screen and (max-width: 900px) {
        font-size: 28px;
        line-height: 32px;
      }
    }
    .body{
      font-family: 'roboto_ltregular';
      font-size: 16px;
      line-height: 24px;
      margin: 10px 0 30px 0;
      @media only screen and (max-width: 900px) {
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0 20px 0;
      }

      strong{
        font-family: roboto_medium;
      }
    }

    button{
      padding: 10px 30px;
      color: #333;
      font-family: roboto_medium;
      background: #ffea5c;
      border-radius: 2px;
      border-bottom 3px solid #d9c74e
    }
  }
}
section.our_partners{
  margin-top 30px
  background-image: linear-gradient(to right, #333333 33%, white 0%);
  background-position: bottom;
  background-size: 30px 1px;
  background-repeat: repeat-x;

  h2.title{
    font-family: roboto_medium;
    font-size: 26px;
    line-height: 44px;
    text-align center
    color #333333
  }
  .top{
    position relative
    z-index: 999;
  }
  .bottom{
    position relative
    z-index 0
  }
  .delimiter{
    height 5px
    width 50px
    margin 15px auto
    background #ffea5c
  }

  .partner{
    display inline-block
    max-width 380px
    @media only screen and (max-width: 950px) {
      text-align right
      width 380px
    }
    @media only screen and (max-width: 780px) {
      width auto
    }
    @media only screen and (max-width: 510px) {
      width 100%
      display: block
      float none !important
      padding-right 20%
    }
    .text{
      display inline-block
      vertical-align middle
      margin-top 80px
      width: 230px;
      @media only screen and (max-width: 1040px) {
        width: auto;
      }
      @media only screen and (max-width: 780px) {
        width: 170px;
        margin 0
      }
      .title{
        font-family: roboto_medium;
        font-size: 20px;
        @media only screen and (max-width: 780px) {
          font-size: 18px;
        }
      //line-height: 44px;
        color #333333
      }
    }
    .delimiter{
      vertical-align middle
      display inline-block
      width 1px
      height 80px
      background #333333
      margin 80px 10px 0 10px
      @media only screen and (max-width: 780px) {
        display none
      }
    }
    .image{
      display inline-block
      img{
        height 267px
        @media only screen and (max-width: 780px) {
          height: 180px;
        }
        @media only screen and (max-width: 510px) {
          height: 100px;
        }
      }
    }
  }
  .bottom{
    padding: 0 150px 0 180px;
    position: relative;
    top: -178px;
    margin-bottom -115px
    @media only screen and (max-width: 1040px) {
      padding: 0 132px 0 70px;
    }
    @media only screen and (max-width: 950px) {
      top: 0
      padding: 0;
      margin-bottom 0
    }
    .text{
      margin-top 200px
      @media only screen and (max-width: 780px) {
        width: 170px;
        margin-top 0
      }
    }
    .delimiter{
      margin 200px 10px 0 10px
    }
    &:after {
      content:"";
      display:block;
      clear:both;
    }
  }
  .arrow{
    text-align center
    @media only screen and (max-width: 950px) {
     margin-top 50px
    }
    i{

      font-size: 8em;
      line-height: 0;
      //color #333333
      color #f0ebe7
      @media only screen and (max-width: 650px) {
        font-size: 5em;
      }
      &:before {
        display:block;
        clear:both;
      }
    }
  }
}
section.works{
  margin-top 20px
  .title{
    font-family: roboto_medium;
    font-size: 26px;
    line-height: 44px;
    text-align center
    color #333333
  }
  .refer{
    margin-top 40px
    img{
      display inline-block
      width: 120px;
      height: 100%;
      margin: 0 50px;
      @media only screen and (max-width: 620px) {
        width: 100px;
        display block
        margin: -20px auto 10px auto;
      }
    }

    .text{
      display inline-block
      max-width: 350px;
      .title{
        font-family: roboto_medium;
        font-size: 22px;
        line-height: 26px;
        text-align left
        @media only screen and (max-width: 620px) {
         text-align center
        }
      }
      .body{
        text-align left
        @media only screen and (max-width: 620px) {
          text-align center
        }
      }
    }
  }
  i{
    font-size: 5em;
    @media only screen and (max-width: 620px) {
      margin 10px auto
    }
  }
  .moving{
    .text{
      display inline-block
      width: 350px;
      vertical-align middle;
      @media only screen and (max-width: 620px) {
        display none
      }
      .title{
        font-family: roboto_medium;
        font-size: 22px;
        line-height: 26px;
        text-align right
      }
      .body{
        text-align right
      }
    }
    .text-mobile{
        display none
        max-width: 350px;
        vertical-align middle;
        @media only screen and (max-width: 620px) {
          display block
          margin 30px auto 10px auto
        }
        .title{
          font-family: roboto_medium;
          font-size: 22px;
          line-height: 26px;
          text-align center
        }
        .body{
          text-align center
        }
    }
    img{
      display: inline-block;
      width: 400px;
      height: 100%;
      margin-left: 20px;
      @media only screen and (max-width: 620px) {
        width: 300px;
        margin-left: 0;
      }
    }
  }
  .partner{
    display inline-block
    img{
      display inline-block
      width: 50px;
      margin: 0 10px;
      height 100%
    }
    p{
      vertical-align middle
      display inline-block
      font-family: 'robotobold';
      font-size 20px
    }
  }
  .donate{
    display inline-block
    img{
      display inline-block
      width: 50px;
      margin: 0 10px 0 60px;
      height 100%
      @media only screen and (max-width: 350px) {
        margin: 0 0 0 20px ;
      }
    }
    p{
      vertical-align middle
      display inline-block
      font-family: 'robotobold';
      font-size 20px
    }
  }
}
section.donate{
  margin-top 30px
  background: transparent url("../images/front/donate_bg.png") no-repeat center center;
  background-size: cover;

  .title{
    padding 50px 0
    font-family: roboto_medium;
    font-size: 26px;
    line-height: 44px;
    text-align center
    color white
  }
  .donate-monet{
    width 500px;
    height 555px
    background: transparent url("../images/front/donate-monet.png") no-repeat center center;
    background-size: cover;
    margin: 0 auto;
    @media only screen and (max-width: 520px) {
      background: transparent url("../images/front/donate-monet-mobile.png") no-repeat center center;
      background-size: cover;
      max-width 300px;
      height 394px
    }
    form{
      padding-top: 55%;
      width: 45%;
      margin: auto;
      text-align center
      @media only screen and (max-width: 520px) {
        width: 65%;
      }
      .form-control{
        margin-bottom 20px
        @media only screen and (max-width: 520px) {
          margin-bottom 0
        }
      }
      input{
        background #686868
        color white;
        font-family robotoitalic;
      }
      button{
        margin-top 10px;
        padding: 10px 30px;
        color: #333;
        font-family: roboto_medium;
        background: #ffea5c;
        border-radius: 2px;
        border-bottom 3px solid #d9c74e
        margin-bottom: 30px;
        @media only screen and (max-width: 520px) {
          margin 0
        }
      }
      a{
        color #454646
        text-decoration none
        border-bottom 1px solid #454646
      }
    }
  }
}
section.statistics{
  margin-top 50px
  .title{
    font-family: roboto_medium;
    font-size: 26px;
    line-height: 44px;
    text-align center
    color #333333
  }
  .block{
    margin-top 100px
    @media only screen and (max-width: 700px) {
      margin-top 50px
    }
  }
  .text{
    width 70%
    margin 60px auto
    line-height: 24px;
    text-align justify
    color #333333
    @media only screen and (max-width: 500px) {
      width 100%
    }
  }

  .partners{
    vertical-align: middle;
    display inline-block
    position relative
    width 230px
    height 230px
    border-radius 130px;
    border: 2px dashed #67a750
    margin-right: -50px;
    @media only screen and (max-width: 700px) {
      display block
      margin: 0 auto;
    }
    @media only screen and (max-width: 350px) {
      width 220px
      height 220px
    }
    img{
      width 75px;
      position: relative;
      z-index: 2;
      margin-top: -15%;
      @media only screen and (max-width: 350px) {
        margin-top: -20%;
      }
    }
    .count{
      font-size: 36px;
      line-height: 46px;
      font-family roboto_ltregular;
    }
    .value{
      font-family: roboto_medium;
      font-size 16px
      color #67a750
      text-transform uppercase
    }
  }
  .cache-back{
    vertical-align: bottom;
    display inline-block
    position relative
    width 280px
    height 280px
    border-radius 150px;
    border: 5px solid #67a750
    background: white;
    z-index: 2;
    @media only screen and (max-width: 700px) {
      display block
      margin: 70px auto;
    }
    @media only screen and (max-width: 350px) {
      width 250px
      height 250px
    }
    .count{
      font-size: 36px;
      line-height: 46px;
      font-family roboto_ltregular;
    }
    .value{
      font-family: roboto_medium;
      font-size 16px
      color #67a750
      text-transform uppercase
    }
    img{
      width: 140px;
      position: relative;
      z-index: 2;
      margin-top: -20%;
      @media only screen and (max-width: 350px) {
        width: 130px;
        margin-top: -24%;
      }
    }
  }
  .donate{
    vertical-align: middle;
    display inline-block
    position relative
    width 230px
    height 230px
    border-radius 130px;
    border: 2px dashed #67a750
    margin-left: -50px;
    @media only screen and (max-width: 700px) {
      display block
      margin: 0 auto;
    }
    @media only screen and (max-width: 350px) {
      width 220px
      height 220px
    }
    img{
      width 75px;
      position: relative;
      z-index: 2;
      margin-top: -15%;
      @media only screen and (max-width: 350px) {
        margin-top: -20%;
      }
    }
    .count{
      font-size: 36px;
      line-height: 46px;
      font-family roboto_ltregular;
    }
    .value{
      font-family: roboto_medium;
      font-size 16px
      color #67a750
      text-transform uppercase
    }
  }
}
section.contacts{
  background #67a750
  .container {
    max-width: 835px;
  }
  .title{
    font-family: roboto_medium;
    font-size: 26px;
    line-height: 44px;
    text-align center
    color white
    margin 40px auto;
  }
  .form{
    background white;
    padding: 70px;
    box-shadow: 0 10px 17px rgba(0,0,0,.3);
    position: relative;
    z-index: 2;
    @media only screen and (max-width: 990px) {
      padding: 40px 20px;
    }
    .form-control{
      box-shadow none
      color #333333;
      font-family robotoitalic;
      border none
      border-bottom 1px solid #c4c4c4
      border-radius 0
    }
    .textarea{
      padding-left 20px
      @media only screen and (max-width: 990px) {
        padding 0
      }
    }
    textarea{
      padding 10px
      width 100%
      box-shadow none
      color #333333;
      font-family robotoitalic;
      border 1px solid #c4c4c4
      border-radius 0
      height: 140px;
    }
    button{
      margin-top 30px;
      padding: 10px 50px;
      color: #333;
      font-family: roboto_medium;
      background: #ffea5c;
      border-radius: 2px;
      border-bottom 3px solid #d9c74e
      @media only screen and (max-width: 990px) {
        margin-top 10px;
      }
    }
  }
  .keyboard{
    position: relative;
    width: 500px;
    margin-top: -150px;
    margin-bottom: 50px;
    @media only screen and (max-width: 650px) {
      width: 350px;
      margin-top: -95px;
    }
    @media only screen and (max-width: 450px) {
      width: 270px;
      margin-top: -80px;
    }
  }
  .copy{
    color white
    font-family: roboto_medium;
    margin-bottom 50px
  }
}
.modal-sm{
  .close{
    margin: -25px -40px;
    font-size: 34px;
  }
  .modal-content{
    padding: 20px 50px;
    text-align center;
    margin-top: 50%;
  }
  p{
    padding-top: 10px;
    font-size: 20px;
    line-height: 24px;
  }
}
#failedModal{
  .modal-content{
    padding: 20px 50px;
    text-align center;
    margin-top: 50%;
  }
  .fa-info-circle{
    font-size 7em;
  }
  .title{
    font-size: 32px;
    font-family: roboto_medium;
    line-height: 44px;
  }
  .error-message{
    margin-top: 20px;
    font-size: 18px;
    line-height: 24px;
    list-style-type: none;
    i{
      margin-right: 5px;
    }
  }
}
section.profile-head{
  position: relative;
  box-shadow: 0 3px 0 rgba(0,0,0,0.02);
  @media only screen and (max-width: 780px) {
    height 145px
  }
  @media only screen and (max-width: 350px) {
    .container{
      padding: 0 8px;
    }
  }
  .tooltip{
    min-width 100px
  }
  .head{
    margin 20px 0

    img{
      display inline-block
      height: 35px;
      @media only screen and (max-width: 470px) {
        height: 30px;
      }
    }
    .delimiter{
      display inline-block
      height 55px;
      width 1px;
      margin: 0 20px 0 10px;
      background #333333
      vertical-align: middle;
      @media only screen and (max-width: 470px) {
        margin: 0 5px;
        height 40px;
      }
    }
    p{
      font-family: 'roboto_ltregular';
      vertical-align: middle;
      font-size: 18px;
      display: inline-block;
      line-height: 24px;
      @media only screen and (max-width: 470px) {
        font-size: 16px;
        display: inline-block;
        line-height: 20px;
      }
    }
    .promo-wrapper{
      position: absolute;
      top: 28px;
      left: 42%;
      @media only screen and (max-width: 850px) {
        left: 37%;
      }
      @media only screen and (max-width: 780px) {
        position absolute
        top: 85px;
      }
      span{
        display: inline-block;
        vertical-align: bottom
        padding-bottom: 3px;
        padding-right: 10px;
      }
      .promo{
        border: 2px #8c8c8c dashed;
        padding: 7px;
        font-size: 22px;
        font-family: roboto_cnregular;
        color: #67a750;
        display: inline-block;
        i{
          font-size: 22px;
          color: #96c785
          padding-left 5px
          cursor pointer
          &:hover{
            color: #67a750;
          }
        }
      }
    }
    //.promo-mobile{
    //  display none
    //  text-align center
    //  @media only screen and (max-width: 780px) {
    //    display block
    //    margin-top 10px
    //  }
    //  @media only screen and (max-width: 468px) {
    //    display block
    //    margin-top 20px
    //  }
    //  span{
    //    display: inline-block;
    //    vertical-align: middle;
    //    padding-right: 10px;
    //  }
    //  .promo{
    //    border: 2px #8c8c8c dashed;
    //    padding: 7px;
    //    font-size: 22px;
    //    font-family: roboto_cnregular;
    //    color: #67a750;
    //    display: inline-block;
    //    vertical-align: middle;
    //
    //    @media only screen and (max-width: 468px) {
    //      padding: 3px 5px;
    //      font-size: 18px;
    //    }
    //    i{
    //      font-size: 22px;
    //      color: rgb(216, 208, 208);
    //      padding-left 5px
    //      @media only screen and (max-width: 468px) {
    //        font-size: 18px;
    //        padding-left 3px
    //      }
    //    }
    //  }
    //}
    .balance{
      float right
      text-align right
      @media only screen and (max-width: 470px) {
        margin-top: -5px;
      }
      .redeem{
        text-transform uppercase
        color: #333;
        font-family: roboto_medium;
        background: #ffea5c;
        border-radius: 2px;
        border-bottom 3px solid #d9c74e
        font-size: 12px;
        padding: 3px 10px;
      }
      span.balance{
        font-family: 'roboto_ltregular';
        color #494949
        float none
        font-size 14px
        @media only screen and (max-width: 400px) {
          display none;
        }
      }
      p{
        text-transform uppercase
        display block
        line-height: 28px;
        padding-bottom: 3px;
        .wrapper{
          min-width 85px
          display: inline
        }
        a{
          overflow hidden
          text-decoration none
          font-family: roboto_medium;
          color #67a750
          font-size 22px
          line-height: 19px;
          float: right;
          margin: 4px;
          border-bottom 1px solid #67a750
        }
      }
      a{
        font-family robotoitalic;
        text-decoration none
        border-bottom 1px solid #494949
        color #494949
      }
    }
  }
}
section.profile-body {
  padding-top 10px
  background #fafafa;
  .table-head{
    font-family: 'roboto_ltregular';
    .show-status{
      display none
      padding 10px
      position: absolute;
      left: 5%;
      top: 40px;
      background: white;
      width: 100px;
      border-radius: 5px;
      box-shadow: 0 1px 18px rgba(0,0,0,0.1);
      z-index 9
      ul{
        text-align: center;
        list-style none
        li{
          a{
            text-decoration: dashed;
            color: #333;
            border-bottom: 1px dashed;
          }
          padding-bottom 7px
        }
      }
    }

    div{
      position relative
      display inline-block;
      width 33%;
      padding 15px 15px 10px 0;
      i.search{
        position: absolute;
        bottom: 19px;
        left: 10px;
      }
      i{
        margin-right  5px
        font-size: 20px;
        vertical-align: middle;
      }
      a{
        text-decoration none;
        color #333333
        border-bottom 1px solid #333333
      }
      input{
        padding-left 35px
        width 200px
      }
      input.calendar-range{
        background: transparent;
        border-bottom: 1px solid #333333;
        padding: 0;
        width: 168px;
        //@media only screen and (max-width: 440px) {
        //  width: 90px;
        //}
      }
      input.cal{
        background: transparent;
        border-bottom: 1px solid #333333;
        padding: 0;
        width: 90px;
      }
      input.calendar-range::-webkit-input-placeholder {color:#333333; opacity 1;text-align center}
      input.calendar-range::-moz-placeholder          {color:#333333; opacity 1;text-align center}/* Firefox 19+ */
      input.calendar-range:-moz-placeholder           {color:#333333; opacity 1;text-align center}/* Firefox 18- */
      input.calendar-range:-ms-input-placeholder      {color:#333333; opacity 1;text-align center}
    }
    .filter-name{
      @media only screen and (max-width: 1100px) {
        width 100%
        input{
          width 100%
        }
      }
      @media only screen and (max-width: 400px) {
        padding 10px 0
      }

    }
    .filter-date{
      .date-reset{
        background: transparent;
        position: absolute;
        margin-left: -16px;
        font-size: 16px;
      }
      @media only screen and (max-width: 1100px) {
          width 50%
      }

      @media only screen and (max-width: 860px) {
        text-align center
        width 52%
        //float: right
     }
      //@media only screen and (max-width: 440px) {
      //  padding 10px 0
      //  width 50%
      //}
    }
    .filter-status{
      @media only screen and (max-width: 1100px) {
        width auto
      }
      @media only screen and (max-width: 860px) {
        text-align center
        width 35%
      }
      @media only screen and (max-width: 440px) {
        padding 10px 0
        width 48%
      }
    }
  }
  .table-orders{
    word-spacing: -.36em;
    border 1px solid #e4e4e4
    width: 100%;
    font-family: 'roboto_ltregular';

    a.table-row{
      display block
      background white
      border-bottom 1px solid #e4e4e4
      text-decoration none
      &:focus{
        outline 0;
      }
      &:hover{
        position: relative;
        box-shadow: 0 1px 18px rgba(0,0,0,0.1);
        .name{
          color #67a750;
          span{
            border-bottom 1px solid #67a750;
          }
        }
      }
    }
    a.test-tutorial{
      display: none
    }
    .col{
      font-family: 'roboto_ltregular';
      color #333333
      padding: 15px;
      display inline-block
      background white
      span{
        word-spacing: 0
      }
    }
    .name{
      font-family: roboto_medium;
      width 35%
      @media only screen and (max-width: 860px) {
        width 59%
      }
      @media only screen and (max-width: 400px) {
        width 55%
      }
    }
    .date{
      width 35%
      @media only screen and (max-width: 860px) {
        display none;
      }
    }
    .date-mobile{
      display none;
      @media only screen and (max-width: 860px) {
        display block;
        font-family: 'roboto_ltregular';
      }

    }
    .status{
      text-align center
      width 15%
      @media only screen and (max-width: 860px) {
        width 21%
        vertical-align: text-bottom;
      }
      @media only screen and (max-width: 400px) {
        width 25%
      }
    }
    .balance{
      font-family: roboto_medium;
      width 15%
      text-align right
      @media only screen and (max-width: 860px) {
        width 20%
        vertical-align: text-bottom;
      }
    }
    .complete{
      color #67a750
    }
    .paid{
      color #a73524
    }
  }

  .customer-info{
    background white
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    margin-bottom 50px
    .top{
      padding 20px
      text-align center
      font-family: roboto_medium;
      font-size: 16px;
      border-bottom 1px solid #e4e4e4

      i{
        color: #d3d3d3
        vertical-align: text-top;
        font-size: 22px;
        margin-right 5px
      }
    }
    .body{
      padding 20px

      .radio{
        list-style-type: none;
        font-family: 'roboto_ltregular';

        li{
          line-height: 26px;
          span{
            vertical-align: middle;
          }
          input{
            position relative
            margin 0 5px 0 0;
            height 19px
            vertical-align: middle;
          }
        }
      }
      .inventory{
        text-align center
        font-family: roboto_medium;
        p{
          margin-top 10px
          font-family: 'roboto_ltregular'
          font-size: 14px;
          text-transform none
        }
        label{
          cursor pointer
          border-bottom 1px dashed #333333
          white-space: nowrap;
          padding-bottom 2px;
          overflow: hidden;
          font-size: 20px;
          text-transform uppercase
        }
      }
      button{
        margin-top 30px
        padding: 10px 40px;
        color: #333;
        font-family: roboto_medium;
        background: #ffea5c;
        border-radius: 2px;
        border-bottom 3px solid #d9c74e
      }
    }
  }
}
section.profile-settings{
  .title{
    margin: 30px 0;
    font-family: roboto_medium;
    font-size: 32px;
    line-height: 44px;
    text-align center
    text-transform uppercase
    color #333333
  }
  .container{
    margin-bottom: 50px;
    max-width: 550px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    padding: 50px 90px;
    @media only screen and (max-width: 600px) {
      padding: 40px 60px;
    }
    @media only screen and (max-width: 400px) {
      padding: 40px;
    }
    form{
      .help-block {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        color: #a94442;
      }
      .avatar-text{
        max-width: 225px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
        @media only screen and (max-width: 400px) {
          margin-left: 10px;
        }
        .name{
          font-family: roboto_medium;
          font-size: 24px;
          line-height: 28px;
          margin-bottom 10px
          @media only screen and (max-width: 400px) {
            font-size: 22px;
            line-height: 26px;
          }
        }
        .email{
          font-family: 'roboto_ltregular';

          font-size: 20px;
          line-height: 24px;
          margin-bottom 10px
          @media only screen and (max-width: 400px) {
            font-size: 18px;
            line-height: 22px;
          }
        }
        .upload{
          font-family: 'roboto_ltregular';
          font-size: 16px;
          line-height: 20px;
          border-bottom 1px solid #333333
          cursor pointer
          font-weight 300
        }

       }
      #specialist{
        margin-bottom 10px
      }
      .specialist{
        span{
          vertical-align: middle;
        }
        input{
          width: 16px;
          height: 16px;
          vertical-align: middle;
          margin 0 5px 0 0;
        }
        .col-md-6{
          margin-bottom 5px
        }
      }
      img.avatar{
        width: 130px;
        height: 130px;
        padding: 0;
        border-radius: 70px;
        @media only screen and (max-width: 430px) {
          width: 100px;
          height: 100px;
        }
      }
      input[type=radio]{
        margin-right 5px
      }
      [name=password]{
        opacity 1
        color #333333
        font-size: 20px;
      }
      [name=password]::-webkit-input-placeholder { color: #333333; opacity 1}
      [name=password]::-moz-placeholder          { color: #333333; opacity 1}/* Firefox 19+ */
      [name=password]:-moz-placeholder           {color: #333333; opacity 1}/* Firefox 18- */
      [name=password]:-ms-input-placeholder      {color: #333333; opacity 1}
      button{
        margin-top 30px
        padding: 10px 40px;
        color: #333;
        font-family: roboto_medium;
        background: #ffea5c;
        border-radius: 2px;
        border-bottom 3px solid #d9c74e
      }
    }
  }
}
.invites{
  .title{
    font-family: roboto_medium;
    font-size: 32px;
    line-height: 44px;
    color #333333
    margin 10px 0 25px 0
  }
  .invite-block{
    padding: 30px 40px;
    background-color #efefef
    border 1px solid #e4e4e4
    @media only screen and (max-width: 940px) {
      text-align: center;
      padding: 20px;
    }
    .code{
      display inline-block
      p{
        font-family: 'roboto_ltregular';
        font-size 14px
        padding-bottom 10px
      }
      a{
        font-size 16px

      }
    }
    .send{
      float: right
      display inline-block
      margin-top: 5px;
      @media only screen and (max-width: 940px) {
        width 100%
        text-align center
      }
      input{
        height: 35px;
        width 220px
        @media only screen and (max-width: 940px) {
          width 100%
          max-width 300px
          margin 0 auto
        }
      }
      button{
        float right
        margin-left 10px
        padding: 7px 35px;
        color: #333;
        font-family: roboto_medium;
        background: #ffea5c;
        border-radius: 2px;
        border-bottom 3px solid #d9c74e
        @media only screen and (max-width: 940px) {
          float none;
          margin 10px 0 0 0;
        }

      }
    }

  }
}
div.insurance{
  background-color #fafafa

  .title{
    font-family: roboto_medium;
    font-size: 30px;
    line-height: 40px;
    color #333333
    margin 25px 0
  }

}
.row.insurance{
  margin 0
  .files-block{
    display: inline-block
    width 50%
    @media only screen and (max-width: 1100px) {
      width 100%
    }
  }
  @media only screen and (max-width: 600px) {
    .col-md-4{
      display block
      width 100%
    }
  }
  .form-block{
    background-color white
    float right
    width 410px
    height 210px
    margin-right: 50px;
    box-shadow: 0 0px 5px rgba(0,0,0,0.25);
    padding 15px 50px
    text-align center
    @media only screen and (max-width: 1100px) {
      margin 0 auto 50px auto
      float none
    }
    h3{
      text-transform uppercase
      font-size  14px
      font-family roboto_medium
    }
    form{
      margin-top 15px
      label{
        font-size 12px
        display inline-block
        padding-right 10px
        vertical-align: top;
        width: 55px;
      }
      input{
        font-size 12px
        line-height: 14px;
        display inline-block
        width: 70%;
        height: 30px;
      }
      textarea{
        font-size 12px
        line-height: 14px;
        height 50px
        overflow: hidden;
        display inline-block
        width: 70%;
      }
      button{
        text-transform uppercase
        padding: 7px 25px;
        color: #333;
        font-family: roboto_medium;
        background: #ffea5c;
        border-radius: 2px;
        border-bottom 3px solid #d9c74e
      }
    }
  }
  a{
    text-decoration none
  }
}
.insurance-block{
  margin-bottom 50px
  background: url("../images/front/insurance-bg.png") no-repeat 100% 50%;
  background-size: cover;
  background-color white
  position: relative;
  height 210px
  width 170px
  padding: 20px;
  overflow hidden
  text-align center
  box-shadow: 0 0px 5px rgba(0,0,0,0.25);
  @media only screen and (max-width: 600px) {
    margin: 0 auto 20px auto;
  }
  .pdf{
    position: absolute;
    top: 85px;
    left: 50px;
    padding: 15px;
    background: white;
    box-shadow: 0 0px 5px rgba(0,0,0,0.5);
    width: 70px;
    border-radius: 100px;
    img{
      width 30px
    }
  }
  p{
    text-decoration none
    color #333
    font-size: 16px;
    font-weight: bold
  }
}
.insurance-content{
  background-color white
  padding 25px
  border-radius 1px
  box-shadow: 0 0px 5px rgba(0,0,0,0.25);
  margin-bottom 25px
  .image{
    width: 385px;
    padding-right 10px
    float left
  }
  .text{
    color: #333333;
    font-size: 16px;
    line-height: 26px;
    vertical-align: middle;
    text-align justify
  }
}
.modal-order{
  border-radius 10px
  padding: 35px 15px;
  @media only screen and (max-width: 460px) {
    padding: 15px;
  }
  .close{
    background: url("../images/front/close.png") no-repeat 50% 50%;
    background-size: cover;
    color: #336633;
    opacity: 1;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 17px;
    right: 20px;
    span{
      vertical-align middle
    }
  }
  .head{
    height: 70px;
    padding: 20px;
    margin: -35px -15px;
    border-radius 5px
    background-color #ffcc33

    .title{
      margin-top: 8px;
      padding: 0 20px;
      font-size: 16px;
      text-transform uppercase;
      color #333
      display inline-block

    }
    .edit-order{
      vertical-align: middle;
      color: white
      display inline-block
      padding: 6px 20px;
      font-family: roboto_medium;
      background: #339900;
      border-radius: 5px;
      border-bottom 1px solid #333
      i{
        margin-right 3px
      }
    }
  }
  .container{
    padding 0;
    width: 100%;
    margin-top: 40px;
    overflow-y: auto
    .no-border{
      border none !important
    }
    .info{
      width: 50%;
      display inline-block
      padding: 0 15px;
      margin-top 10px
      font-family: roboto_ltregular;
      line-height: 16px;
      font-size: 16px;
      p{
        margin-bottom 10px
        span{
          margin-left 5px
        }
      }
    }
    .center{
      margin: 50px 0 0 18%;
    }
    form{
      padding: 10px 20px;
      label{
        color: #b0b0b0
        font-family: roboto_medium;
        font-size 12px
        font-weight: normal;
        margin 0
        text-transform uppercase
      }
      .form-control{
        font-family: roboto_medium;
        background transparent
        border none
        box-shadow none
        padding 0
        margin-bottom: 5px;
        &:focus{
          box-shadow none
        }
      }
      .editable{
        border: 1px solid #339900;
        padding: 5px;
        margin: 5px 0 0 0;
      }
      textarea{
        font-size 12px
        width 234px
        max-width 234px
        height 60px
        max-height 60px
      }
      .form-group{
        border-bottom 1px solid #b0b0b0
      }
      .download{
        display: block;
        margin: 10px 0;
        font-family: roboto_medium;
        text-decoration: none;
        color: #333
        img{
          width 25px
        }
        span{
          vertical-align middle
        }
      }
      label.label-file{
        display none;
        text-transform: inherit;
        color: #7979e8;
        border-bottom: 1px solid;
      }
      .no-file{
        display: none;
      }
    }
    .result{
      width: 47%;
      display inline-block
      vertical-align top
      margin-top 10px
      padding: 25px;
      background #333333
      color: white
      p.form-control{
        color white
        height: 30px;
        margin-top: 8px;
        margin-bottom 0;
      }
      .download{
        display: block;
        margin: 10px 0;
        font-family: roboto_medium;
        text-decoration: none;
        color: white
        img{
          width 25px
        }
        span{
          vertical-align middle
        }
      }
    }

    .button{
      margin: 20px 0 0 0;
      padding: 7px 35px;
      color: #333;
      font-family: roboto_medium;
      background: #ffea5c;
      border-radius: 2px;
      border-bottom 3px solid #d9c74e
      display: inline-block;
    }
    button{
      margin: 20px 0 0 0;
      padding: 7px 35px;
      color: #333;
      font-family: roboto_medium;
      background: #ffea5c;
      border-radius: 2px;
      border-bottom 3px solid #d9c74e
    }
  }

}
.create-order{
  width 25%
  max-width 250px;
  float right
  @media only screen and (max-width: 1100px) {
    width 35%
  }
  @media only screen and (max-width: 770px) {
    width 40%
  }
  @media only screen and (max-width: 700px) {
    width 100%
    float none
    margin 0 auto;
    max-width 350px;

  }
}
.items{
  width 75%
  float left
  .title{
    font-family: roboto_medium;
    font-size: 30px;
    line-height: 40px;
    color #333333
  }
  .history{
    padding 25px 0;
  }
  @media only screen and (max-width: 1100px) {
    width 65%
  }
  @media only screen and (max-width: 770px) {
    width 60%
  }
  @media only screen and (max-width: 700px) {
    width 100%
    margin-bottom 20px
    float none
  }
}
.label-file{
  cursor pointer
}
.help-block{
  font-family: 'roboto_ltregular';
  color #e63a0f
  font-size: 14px;
  i.fa-exclamation-circle{
    font-size: 20px !important;
    color #e63a0f
    vertical-align: middle !important;
  }
  strong{
    font-weight 100
    vertical-align: middle !important;
  }
}
.edit-order-field{
  color: #5555d6;
  margin-left 3px
  cursor pointer
}
label.info-label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-weight 100
}

// Box.
label.info-label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #989494;
  border-radius: 3px;
}
.styled-checkbox {
  position: absolute; // take it out of document flow
  opacity: 0; // hide it

// Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 2px;
    top: 6px;
    background: #333;
    width: 3px;
    height: 3px;
    box-shadow:
            2px 0 0 #333,
            4px 0 0 #333,
            4px -2px 0 #333,
            4px -4px 0 #333,
            4px -6px 0 #333,
            4px -8px 0 #333;
    transform: rotate(45deg);
  }
}
section.reset-password{
  margin-top 20px
  h2.title{
    font-family: roboto_medium;
    font-size: 26px;
    line-height: 44px;
    text-align center
    color #333333
  }
  .delimiter{
    height 5px
    width 50px
    margin 15px auto
    background #ffea5c
  }
  button{
    margin-top: 10px;
    padding: 7px 30px;
    color: #333;
    font-family: roboto_medium;
    background: #ffea5c;
    border-radius: 2px;
    border-bottom: 3px solid #d9c74e;
  }
}
.loader{
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 200px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top 15%
  div{
    transform-origin: center center;
  }
  .ball-scale-multiple {
    position: relative;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}


.orderModal .modal-dialog{
  width: 600px;
  margin: 30px auto;
}
.modal-sign{
  .close {
    margin: -25px -35px;
    font-size: 34px;
  }
  .modal-content{
    padding: 20px 40px 10px 40px;
    border-top: 5px solid #5da44d
    font-family "Source Sans Pro"
  }
  .forgot{
    color: #dde3e2
    font-size  12px
    border-bottom 1px solid
    text-decoration none
  }
  .info{
    color: #5da44d;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    margin-bottom: 15px;
  }
  h3{
    text-transform uppercase
    font-family roboto_medium
    margin: 25px 0;
  }
  form{
    .form-group{
      position: relative;
      margin-bottom 15px
      img{
        position: absolute;
        left: 5px;
        top: 12px;
      }
    }
    input{
      padding-left: 35px;
      outline none
      border none
      border-radius 0
      box-shadow none
      border-bottom 1px solid #c4c4c4
      &:focus{
        outline 0;
        border-color: #c4c4c4;
        box-shadow: none
      }
    }
    .error-input{
      border 2px solid #e63a0f
    }
    .help-block{
      font-size 13px
    }
    button{
      font-family roboto_medium
      color white
      text-transform uppercase
      width 100%
      height 40px
      background #5da44d
      border-radius 3px
      box-shadow: 0 1px 5px rgba(129,162,117,0.7);
      margin: 12px 0;
    }
  }
  .modal-footer{
    margin: 50px -40px 0 -40px;
    p{
      color: #dde3e2
      font-size  12px
      text-align center
      a{
        text-decoration none
        color #5da44d
        border-bottom 1px solid #5da44d
      }
    }
  }
}
#resetModal{
  h3{
    font-size: 23px;
  }
}

.introjs-tooltiptext{
  h3{
    margin-bottom 10px
  }
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-family "Source Sans Pro"

}
#PromoModal{
  .modal-dialog{
    width 400px
    .close {
      position: absolute;
      font-size: 30px
      right: 11px;
      top: 0;
    }
    .modal-content{
      border-radius 0;
      padding: 30px 40px 15px 40px;
    }
    h3{
      font-size 20px
      text-align center
      margin-bottom 20px
    }
    form{
      .form-group{
        position: relative;
        margin-bottom 15px
        label.info-label{
          position: absolute;
          top: 10px;
        }
      }
      input{
        padding-left: 35px;
        outline none
        border none
        border-radius 0
        box-shadow none
        border-bottom 1px solid #c4c4c4
        font-style: italic;
        font-weight: bold;
        &:focus{
          outline 0;
          border-color: #c4c4c4;
          box-shadow: none
        }
      }
      textarea{
        height 100px
        max-height 100px
        border-radius 0
        width 100%
        max-width  100%
        font-family: 'roboto_ltregular';
        font-size 12px
        line-height 16px
      }
      .error-input{
        border 2px solid #e63a0f
      }
      .help-block{
        font-size 13px
      }
      button{
        margin-top: 10px;
        padding: 7px 30px;
        color: #333;
        font-family: roboto_medium;
        background: #ffea5c;
        border-radius: 2px;
        border-bottom: 3px solid #d9c74e;
        text-transform uppercase
      }
    }
  }
}
#image-wrapper{
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  position: relative
}
#avatar{
  opacity: 0;
  width: 100%;
  height: 130px;
  position: absolute;
  top: 0;
}