html,
body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  cursor: default;
  min-height: 100%;
  min-width: 100%;
  font-size: 14px;
  line-height: 17px;
  color: #333;
}
html div,
body div,
html dl,
body dl,
html dt,
body dt,
html dd,
body dd,
html ul,
body ul,
html ol,
body ol,
html li,
body li,
html nav,
body nav,
html h1,
body h1,
html h2,
body h2,
html h3,
body h3,
html h4,
body h4,
html h5,
body h5,
html h6,
body h6,
html pre,
body pre,
html code,
body code,
html form,
body form,
html fieldset,
body fieldset,
html legend,
body legend,
html input,
body input,
html button,
body button,
html textarea,
body textarea,
html p,
body p,
html blockquote,
body blockquote,
html th,
body th,
html td,
body td,
html a,
body a {
  margin: 0;
  padding: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
  background-repeat: no-repeat;
}
.d-n {
  display: none;
}
.pac-container {
  background-color: #fff;
  position: absolute !important;
  z-index: 99999;
  border-radius: 2px;
  border-top: 1px solid #d9d9d9;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.error-input {
  border: 2px solid #e63a0f;
}
.modal-dialog {
  max-width: 570px;
  margin: 30px auto;
}
#failedModal .close {
  margin: -25px -40px;
  font-size: 34px;
}
input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
  min-width: 100%;
}
input[type="date"] {
  display: -webkit-inline-flex;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
button.disabled {
  opacity: 0.7;
  pointer-events: none;
}
.modal-balance {
  border-radius: 10px;
  padding: 35px;
}
@media (max-width: 460px) {
  .modal-balance {
    padding: 10px;
  }
}
.modal-balance .close {
  position: absolute;
  top: -12px;
  right: 5px;
  color: #fff;
  font-size: 50px;
  opacity: 1;
}
.modal-balance .head {
  margin: -35px;
  text-align: center;
  background: transparent url("../images/admin/modal-head.png") no-repeat center center;
  background-size: cover;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (max-width: 460px) {
  .modal-balance .head {
    margin: -10px;
  }
}
.modal-balance .head .title {
  padding: 10px 0;
  font-family: roboto_ltregular;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 550px) {
  .modal-balance .head .title {
    font-size: 34px;
    line-height: 40px;
  }
}
@media (max-width: 460px) {
  .modal-balance .head .title {
    font-size: 28px;
    line-height: 34px;
  }
}
.modal-balance .head .title span {
  font-weight: bold;
}
.modal-balance .body {
  margin-top: 50px;
}
.modal-balance .body .title {
  font-family: roboto_medium;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
.modal-balance .body .paid-donate .title {
  font-family: 'roboto_ltregular';
  font-size: 16px;
  line-height: 26px;
  margin: 10px 0;
}
.modal-balance .body .paid-donate .mg-t {
  margin-top: 15px;
}
.modal-balance .body .paid-donate .donate-company {
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(129,162,117,0.5);
}
.modal-balance .body .paid-donate .donate-company.active {
  outline: 1px solid #58b734;
  box-shadow: 0 0 20px rgba(129,162,117,0.7);
}
.modal-balance .body .paid-donate .donate-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.modal-balance .body .paid-donate .donate {
  width: 32%;
  display: inline-block;
  padding: 0;
  padding-left: 10px;
}
.modal-balance .body .choice {
  text-align: center;
  margin: 15px 0;
}
.modal-balance .body .choice .btn-group {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
  position: relative;
}
.modal-balance .body .choice .btn {
  border: none;
  border-right: 2px solid #ddd;
}
.modal-balance .body .choice .btn-default.active,
.modal-balance .body .choice .btn-default:active,
.modal-balance .body .choice .btn-default:hover,
.modal-balance .body .choice .open>.btn-default.dropdown-toggle {
  background-color: #fff;
  box-shadow: 0 0px 10px rgba(0,0,0,0.125);
}
.modal-balance .body .choice .btn.active,
.modal-balance .body .choice .btn:active {
  outline: 0;
  border: none;
  background-image: none;
  box-shadow: 0 0px 10px rgba(0,0,0,0.125);
}
.modal-balance .body .choice label {
  padding: 15px 25px;
}
@media (max-width: 550px) {
  .modal-balance .body .choice label {
    padding: 10px;
  }
}
@media (max-width: 460px) {
  .modal-balance .body .choice label {
    padding: 10px 5px;
  }
}
.modal-balance .body .choice label img {
  height: 35px;
  margin-right: 10px;
}
@media (max-width: 460px) {
  .modal-balance .body .choice label img {
    height: 25px;
    margin-right: 0;
  }
}
.modal-balance .body .choice label span {
  vertical-align: -webkit-baseline-middle;
  font-family: roboto_ltregular;
  font-size: 16px;
  line-height: 20px;
}
.modal-balance .body .container {
  max-width: 400px;
  padding: 0;
}
@media (max-width: 998px) {
  .modal-balance .body .container .paid-check .col-md-6 {
    margin-bottom: 15px;
  }
}
.modal-balance .body .container .paid-check .col-md-6 .help-block {
  font-size: 14px;
}
@media (max-width: 998px) {
  .modal-balance .body .container .paid-check .col-md-6 .help-block {
    font-size: 16px;
  }
}
.modal-balance .body .container input {
  height: 40px;
}
.modal-balance .body .container button {
  margin-top: 20px;
  padding: 10px 30px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
}
.container {
  max-width: 1170px;
}
@media (max-width: 1200px) {
  .container {
    width: auto;
  }
}
header {
  background: #4f545c;
  height: 50px;
  font-family: 'roboto_ltregular';
}
header .container {
  max-width: 1170px;
  padding-top: 15px;
}
@media only screen and (max-width: 700px) {
  header .container {
    padding-top: 12px;
  }
}
header .navigate {
  display: inline-block;
}
@media only screen and (max-width: 700px) {
  header .navigate {
    display: none;
  }
}
header .navigate .active a {
  font-family: roboto_medium;
  border-bottom: 1px dotted #fff;
}
header .navigate li {
  display: inline-block;
  padding-right: 30px;
  text-transform: uppercase;
  font-size: 16px;
}
@media only screen and (max-width: 785px) {
  header .navigate li {
    padding-right: 10px;
  }
}
header .navigate li a {
  color: #fff;
  text-decoration: none;
}
header .navigate-mobile {
  position: relative;
  z-index: 999;
  background: #4f545c;
  display: none;
}
@media only screen and (max-width: 700px) {
  header .navigate-mobile {
    display: block;
  }
}
header .navigate-mobile .auth {
  float: none;
  display: none;
}
@media only screen and (max-width: 700px) {
  header .navigate-mobile .auth {
    display: block;
  }
}
header .navigate-mobile .auth .avatar {
  position: relative;
  background: #67a750;
  padding: 8px;
  margin: -13px;
  margin-left: -15px;
  vertical-align: super;
}
header .navigate-mobile .auth .id {
  font-size: 20px;
}
header .navigate-mobile .auth .settings {
  margin-left: 5px;
}
header .navigate-mobile .bar {
  float: right;
}
header .navigate-mobile .bar i {
  vertical-align: -webkit-baseline-middle;
}
header .navigate-mobile .fa-bars {
  color: #fff;
  font-size: 20px;
}
header .navigate-mobile .collapse {
  display: none;
}
header .navigate-mobile .collapse.in {
  display: block;
}
header .navigate-mobile ul.navigate {
  background: #4f545c;
  margin: 10px -15px;
  padding: 10px;
}
header .navigate-mobile ul.navigate li {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #fff;
  color: #fff;
}
header .navigate-mobile ul.navigate li img {
  width: 25px;
  height: 25px;
  border-radius: 13px;
}
header .auth {
  float: right;
}
@media only screen and (max-width: 700px) {
  header .auth {
    display: none;
  }
}
header .auth .avatar {
  position: absolute;
  background: #67a750;
  padding: 8px;
  top: 0;
  margin: -1px 0 0 -35px;
}
header .auth .avatar img {
  width: 35px;
  height: 35px;
  border-radius: 35px;
}
header .auth li {
  display: inline-block;
  padding-left: 30px;
  color: #fff;
  font-size: 16px;
}
@media only screen and (max-width: 785px) {
  header .auth li {
    padding-left: 20px;
  }
}
header .auth li .settings {
  color: rgba(255,255,255,0.32);
}
header .auth li a {
  color: #fff;
  text-decoration: none;
}
header .auth li a i {
  font-size: 20px;
  margin-left: 3px;
}
.dots {
  position: fixed;
  right: 0;
  margin-right: 50px;
  top: 25%;
  z-index: 99999;
}
@media only screen and (max-width: 1120px) {
  .dots {
    display: none;
  }
}
.dots ul {
  list-style-type: none;
}
.dots ul li .circle {
  height: 22px;
  width: 22px;
  border: 2px solid #ffea5c;
  border-radius: 15px;
  display: block;
  margin-bottom: 7px;
}
.dots ul li .active {
  background: #ffea5c;
}
.dots ul a {
  text-decoration: none;
  color: #ffea5c;
}
section.top {
  max-width: 1170px;
  height: 595px;
  background: transparent url("../images/front/top-layout.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  margin: auto;
  background-color: #5ba14b;
}
section.top .container {
  max-width: 1170px;
}
@media only screen and (max-width: 800px) {
  section.top {
    background: transparent url("../images/front/top-layout.jpg") no-repeat 75%;
    background-size: cover;
  }
}
@media only screen and (max-width: 450px) {
  section.top {
    background: transparent url("../images/front/top_layout_mobile.png") no-repeat 0% 0%;
    background-size: contain;
    min-height: 770px;
    background-color: #5ba14b;
  }
}
@media only screen and (max-width: 350px) {
  section.top {
    min-height: 670px;
  }
}
section.top .logo {
  margin-top: 30px;
}
section.top .logo img {
  display: inline-block;
  height: 35px;
}
@media only screen and (max-width: 400px) {
  section.top .logo img {
    height: 30px;
  }
}
section.top .logo .delimiter {
  display: inline-block;
  height: 55px;
  width: 1px;
  margin: 0 20px 0 10px;
  background: #333;
  vertical-align: middle;
}
@media only screen and (max-width: 400px) {
  section.top .logo .delimiter {
    margin: 0 5px 0 5px;
    height: 40px;
  }
}
section.top .logo p {
  font-family: 'roboto_ltregular';
  vertical-align: middle;
  font-size: 18px;
  display: inline-block;
  line-height: 24px;
}
@media only screen and (max-width: 400px) {
  section.top .logo p {
    font-size: 16px;
    display: inline-block;
    line-height: 20px;
  }
}
section.top .logo .login.auth {
  z-index: 9;
  opacity: 0;
  width: 0;
  overflow: hidden;
  padding: 10px 15px;
}
@media only screen and (max-width: 600px) {
  section.top .logo .login.auth {
    opacity: 1;
    width: auto;
    overflow: visible;
    display: none;
    height: auto;
  }
}
section.top .logo .login {
  z-index: 99;
  height: 37px;
  color: #fff;
  background: #333;
  font-family: 'robotobold';
  font-size: 16px;
  padding: 10px 0;
  display: inline-block;
  position: absolute;
  right: 0;
}
@media only screen and (max-width: 600px) {
  section.top .logo .login {
    top: 30px;
  }
}
section.top .logo .login a {
  padding: 0 15px;
  color: #fff;
  text-decoration: none;
}
section.top .logo .login i {
  color: #ffea5c;
}
section.top .main-text {
  color: #fff;
  width: 310px;
  margin-top: 100px;
  float: right;
  margin-right: 10%;
}
@media only screen and (max-width: 1120px) {
  section.top .main-text {
    margin-right: 1%;
  }
}
@media only screen and (max-width: 900px) {
  section.top .main-text {
    width: 265px;
    margin-top: 115px;
  }
}
@media only screen and (max-width: 450px) {
  section.top .main-text {
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin-left: 5%;
    width: 300px;
  }
}
@media only screen and (max-width: 350px) {
  section.top .main-text {
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: 0;
    width: 280px;
  }
}
section.top .main-text .title {
  font-family: roboto_medium;
  font-size: 32px;
  line-height: 44px;
}
@media only screen and (max-width: 900px) {
  section.top .main-text .title {
    font-size: 28px;
    line-height: 32px;
  }
}
section.top .main-text .body {
  font-family: 'roboto_ltregular';
  font-size: 16px;
  line-height: 24px;
  margin: 10px 0 30px 0;
}
@media only screen and (max-width: 900px) {
  section.top .main-text .body {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 20px 0;
  }
}
section.top .main-text .body strong {
  font-family: roboto_medium;
}
section.top .main-text button {
  padding: 10px 30px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
}
section.our_partners {
  margin-top: 30px;
  background-image: linear-gradient(to right, #333 33%, #fff 0%);
  background-position: bottom;
  background-size: 30px 1px;
  background-repeat: repeat-x;
}
section.our_partners h2.title {
  font-family: roboto_medium;
  font-size: 26px;
  line-height: 44px;
  text-align: center;
  color: #333;
}
section.our_partners .top {
  position: relative;
  z-index: 999;
}
section.our_partners .bottom {
  position: relative;
  z-index: 0;
}
section.our_partners .delimiter {
  height: 5px;
  width: 50px;
  margin: 15px auto;
  background: #ffea5c;
}
section.our_partners .partner {
  display: inline-block;
  max-width: 380px;
}
@media only screen and (max-width: 950px) {
  section.our_partners .partner {
    text-align: right;
    width: 380px;
  }
}
@media only screen and (max-width: 780px) {
  section.our_partners .partner {
    width: auto;
  }
}
@media only screen and (max-width: 510px) {
  section.our_partners .partner {
    width: 100%;
    display: block;
    float: none !important;
    padding-right: 20%;
  }
}
section.our_partners .partner .text {
  display: inline-block;
  vertical-align: middle;
  margin-top: 80px;
  width: 230px;
}
@media only screen and (max-width: 1040px) {
  section.our_partners .partner .text {
    width: auto;
  }
}
@media only screen and (max-width: 780px) {
  section.our_partners .partner .text {
    width: 170px;
    margin: 0;
  }
}
section.our_partners .partner .text .title {
  font-family: roboto_medium;
  font-size: 20px;
  color: #333;
}
@media only screen and (max-width: 780px) {
  section.our_partners .partner .text .title {
    font-size: 18px;
  }
}
section.our_partners .partner .delimiter {
  vertical-align: middle;
  display: inline-block;
  width: 1px;
  height: 80px;
  background: #333;
  margin: 80px 10px 0 10px;
}
@media only screen and (max-width: 780px) {
  section.our_partners .partner .delimiter {
    display: none;
  }
}
section.our_partners .partner .image {
  display: inline-block;
}
section.our_partners .partner .image img {
  height: 267px;
}
@media only screen and (max-width: 780px) {
  section.our_partners .partner .image img {
    height: 180px;
  }
}
@media only screen and (max-width: 510px) {
  section.our_partners .partner .image img {
    height: 100px;
  }
}
section.our_partners .bottom {
  padding: 0 150px 0 180px;
  position: relative;
  top: -178px;
  margin-bottom: -115px;
}
@media only screen and (max-width: 1040px) {
  section.our_partners .bottom {
    padding: 0 132px 0 70px;
  }
}
@media only screen and (max-width: 950px) {
  section.our_partners .bottom {
    top: 0;
    padding: 0;
    margin-bottom: 0;
  }
}
section.our_partners .bottom .text {
  margin-top: 200px;
}
@media only screen and (max-width: 780px) {
  section.our_partners .bottom .text {
    width: 170px;
    margin-top: 0;
  }
}
section.our_partners .bottom .delimiter {
  margin: 200px 10px 0 10px;
}
section.our_partners .bottom:after {
  content: "";
  display: block;
  clear: both;
}
section.our_partners .arrow {
  text-align: center;
}
@media only screen and (max-width: 950px) {
  section.our_partners .arrow {
    margin-top: 50px;
  }
}
section.our_partners .arrow i {
  font-size: 8em;
  line-height: 0;
  color: #f0ebe7;
}
@media only screen and (max-width: 650px) {
  section.our_partners .arrow i {
    font-size: 5em;
  }
}
section.our_partners .arrow i:before {
  display: block;
  clear: both;
}
section.works {
  margin-top: 20px;
}
section.works .title {
  font-family: roboto_medium;
  font-size: 26px;
  line-height: 44px;
  text-align: center;
  color: #333;
}
section.works .refer {
  margin-top: 40px;
}
section.works .refer img {
  display: inline-block;
  width: 120px;
  height: 100%;
  margin: 0 50px;
}
@media only screen and (max-width: 620px) {
  section.works .refer img {
    width: 100px;
    display: block;
    margin: -20px auto 10px auto;
  }
}
section.works .refer .text {
  display: inline-block;
  max-width: 350px;
}
section.works .refer .text .title {
  font-family: roboto_medium;
  font-size: 22px;
  line-height: 26px;
  text-align: left;
}
@media only screen and (max-width: 620px) {
  section.works .refer .text .title {
    text-align: center;
  }
}
section.works .refer .text .body {
  text-align: left;
}
@media only screen and (max-width: 620px) {
  section.works .refer .text .body {
    text-align: center;
  }
}
section.works i {
  font-size: 5em;
}
@media only screen and (max-width: 620px) {
  section.works i {
    margin: 10px auto;
  }
}
section.works .moving .text {
  display: inline-block;
  width: 350px;
  vertical-align: middle;
}
@media only screen and (max-width: 620px) {
  section.works .moving .text {
    display: none;
  }
}
section.works .moving .text .title {
  font-family: roboto_medium;
  font-size: 22px;
  line-height: 26px;
  text-align: right;
}
section.works .moving .text .body {
  text-align: right;
}
section.works .moving .text-mobile {
  display: none;
  max-width: 350px;
  vertical-align: middle;
}
@media only screen and (max-width: 620px) {
  section.works .moving .text-mobile {
    display: block;
    margin: 30px auto 10px auto;
  }
}
section.works .moving .text-mobile .title {
  font-family: roboto_medium;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}
section.works .moving .text-mobile .body {
  text-align: center;
}
section.works .moving img {
  display: inline-block;
  width: 400px;
  height: 100%;
  margin-left: 20px;
}
@media only screen and (max-width: 620px) {
  section.works .moving img {
    width: 300px;
    margin-left: 0;
  }
}
section.works .partner {
  display: inline-block;
}
section.works .partner img {
  display: inline-block;
  width: 50px;
  margin: 0 10px;
  height: 100%;
}
section.works .partner p {
  vertical-align: middle;
  display: inline-block;
  font-family: 'robotobold';
  font-size: 20px;
}
section.works .donate {
  display: inline-block;
}
section.works .donate img {
  display: inline-block;
  width: 50px;
  margin: 0 10px 0 60px;
  height: 100%;
}
@media only screen and (max-width: 350px) {
  section.works .donate img {
    margin: 0 0 0 20px;
  }
}
section.works .donate p {
  vertical-align: middle;
  display: inline-block;
  font-family: 'robotobold';
  font-size: 20px;
}
section.donate {
  margin-top: 30px;
  background: transparent url("../images/front/donate_bg.png") no-repeat center center;
  background-size: cover;
}
section.donate .title {
  padding: 50px 0;
  font-family: roboto_medium;
  font-size: 26px;
  line-height: 44px;
  text-align: center;
  color: #fff;
}
section.donate .donate-monet {
  width: 500px;
  height: 555px;
  background: transparent url("../images/front/donate-monet.png") no-repeat center center;
  background-size: cover;
  margin: 0 auto;
}
@media only screen and (max-width: 520px) {
  section.donate .donate-monet {
    background: transparent url("../images/front/donate-monet-mobile.png") no-repeat center center;
    background-size: cover;
    max-width: 300px;
    height: 394px;
  }
}
section.donate .donate-monet form {
  padding-top: 55%;
  width: 45%;
  margin: auto;
  text-align: center;
}
@media only screen and (max-width: 520px) {
  section.donate .donate-monet form {
    width: 65%;
  }
}
section.donate .donate-monet form .form-control {
  margin-bottom: 20px;
}
@media only screen and (max-width: 520px) {
  section.donate .donate-monet form .form-control {
    margin-bottom: 0;
  }
}
section.donate .donate-monet form input {
  background: #686868;
  color: #fff;
  font-family: robotoitalic;
}
section.donate .donate-monet form button {
  margin-top: 10px;
  padding: 10px 30px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
  margin-bottom: 30px;
}
@media only screen and (max-width: 520px) {
  section.donate .donate-monet form button {
    margin: 0;
  }
}
section.donate .donate-monet form a {
  color: #454646;
  text-decoration: none;
  border-bottom: 1px solid #454646;
}
section.statistics {
  margin-top: 50px;
}
section.statistics .title {
  font-family: roboto_medium;
  font-size: 26px;
  line-height: 44px;
  text-align: center;
  color: #333;
}
section.statistics .block {
  margin-top: 100px;
}
@media only screen and (max-width: 700px) {
  section.statistics .block {
    margin-top: 50px;
  }
}
section.statistics .text {
  width: 70%;
  margin: 60px auto;
  line-height: 24px;
  text-align: justify;
  color: #333;
}
@media only screen and (max-width: 500px) {
  section.statistics .text {
    width: 100%;
  }
}
section.statistics .partners {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 130px;
  border: 2px dashed #67a750;
  margin-right: -50px;
}
@media only screen and (max-width: 700px) {
  section.statistics .partners {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 350px) {
  section.statistics .partners {
    width: 220px;
    height: 220px;
  }
}
section.statistics .partners img {
  width: 75px;
  position: relative;
  z-index: 2;
  margin-top: -15%;
}
@media only screen and (max-width: 350px) {
  section.statistics .partners img {
    margin-top: -20%;
  }
}
section.statistics .partners .count {
  font-size: 36px;
  line-height: 46px;
  font-family: roboto_ltregular;
}
section.statistics .partners .value {
  font-family: roboto_medium;
  font-size: 16px;
  color: #67a750;
  text-transform: uppercase;
}
section.statistics .cache-back {
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 150px;
  border: 5px solid #67a750;
  background: #fff;
  z-index: 2;
}
@media only screen and (max-width: 700px) {
  section.statistics .cache-back {
    display: block;
    margin: 70px auto;
  }
}
@media only screen and (max-width: 350px) {
  section.statistics .cache-back {
    width: 250px;
    height: 250px;
  }
}
section.statistics .cache-back .count {
  font-size: 36px;
  line-height: 46px;
  font-family: roboto_ltregular;
}
section.statistics .cache-back .value {
  font-family: roboto_medium;
  font-size: 16px;
  color: #67a750;
  text-transform: uppercase;
}
section.statistics .cache-back img {
  width: 140px;
  position: relative;
  z-index: 2;
  margin-top: -20%;
}
@media only screen and (max-width: 350px) {
  section.statistics .cache-back img {
    width: 130px;
    margin-top: -24%;
  }
}
section.statistics .donate {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  width: 230px;
  height: 230px;
  border-radius: 130px;
  border: 2px dashed #67a750;
  margin-left: -50px;
}
@media only screen and (max-width: 700px) {
  section.statistics .donate {
    display: block;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 350px) {
  section.statistics .donate {
    width: 220px;
    height: 220px;
  }
}
section.statistics .donate img {
  width: 75px;
  position: relative;
  z-index: 2;
  margin-top: -15%;
}
@media only screen and (max-width: 350px) {
  section.statistics .donate img {
    margin-top: -20%;
  }
}
section.statistics .donate .count {
  font-size: 36px;
  line-height: 46px;
  font-family: roboto_ltregular;
}
section.statistics .donate .value {
  font-family: roboto_medium;
  font-size: 16px;
  color: #67a750;
  text-transform: uppercase;
}
section.contacts {
  background: #67a750;
}
section.contacts .container {
  max-width: 835px;
}
section.contacts .title {
  font-family: roboto_medium;
  font-size: 26px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  margin: 40px auto;
}
section.contacts .form {
  background: #fff;
  padding: 70px;
  box-shadow: 0 10px 17px rgba(0,0,0,0.3);
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 990px) {
  section.contacts .form {
    padding: 40px 20px;
  }
}
section.contacts .form .form-control {
  box-shadow: none;
  color: #333;
  font-family: robotoitalic;
  border: none;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 0;
}
section.contacts .form .textarea {
  padding-left: 20px;
}
@media only screen and (max-width: 990px) {
  section.contacts .form .textarea {
    padding: 0;
  }
}
section.contacts .form textarea {
  padding: 10px;
  width: 100%;
  box-shadow: none;
  color: #333;
  font-family: robotoitalic;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  height: 140px;
}
section.contacts .form button {
  margin-top: 30px;
  padding: 10px 50px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
}
@media only screen and (max-width: 990px) {
  section.contacts .form button {
    margin-top: 10px;
  }
}
section.contacts .keyboard {
  position: relative;
  width: 500px;
  margin-top: -150px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 650px) {
  section.contacts .keyboard {
    width: 350px;
    margin-top: -95px;
  }
}
@media only screen and (max-width: 450px) {
  section.contacts .keyboard {
    width: 270px;
    margin-top: -80px;
  }
}
section.contacts .copy {
  color: #fff;
  font-family: roboto_medium;
  margin-bottom: 50px;
}
.modal-sm .close {
  margin: -25px -40px;
  font-size: 34px;
}
.modal-sm .modal-content {
  padding: 20px 50px;
  text-align: center;
  margin-top: 50%;
}
.modal-sm p {
  padding-top: 10px;
  font-size: 20px;
  line-height: 24px;
}
#failedModal .modal-content {
  padding: 20px 50px;
  text-align: center;
  margin-top: 50%;
}
#failedModal .fa-info-circle {
  font-size: 7em;
}
#failedModal .title {
  font-size: 32px;
  font-family: roboto_medium;
  line-height: 44px;
}
#failedModal .error-message {
  margin-top: 20px;
  font-size: 18px;
  line-height: 24px;
  list-style-type: none;
}
#failedModal .error-message i {
  margin-right: 5px;
}
section.profile-head {
  position: relative;
  box-shadow: 0 3px 0 rgba(0,0,0,0.02);
}
@media only screen and (max-width: 780px) {
  section.profile-head {
    height: 145px;
  }
}
@media only screen and (max-width: 350px) {
  section.profile-head .container {
    padding: 0 8px;
  }
}
section.profile-head .tooltip {
  min-width: 100px;
}
section.profile-head .head {
  margin: 20px 0;
}
section.profile-head .head img {
  display: inline-block;
  height: 35px;
}
@media only screen and (max-width: 470px) {
  section.profile-head .head img {
    height: 30px;
  }
}
section.profile-head .head .delimiter {
  display: inline-block;
  height: 55px;
  width: 1px;
  margin: 0 20px 0 10px;
  background: #333;
  vertical-align: middle;
}
@media only screen and (max-width: 470px) {
  section.profile-head .head .delimiter {
    margin: 0 5px;
    height: 40px;
  }
}
section.profile-head .head p {
  font-family: 'roboto_ltregular';
  vertical-align: middle;
  font-size: 18px;
  display: inline-block;
  line-height: 24px;
}
@media only screen and (max-width: 470px) {
  section.profile-head .head p {
    font-size: 16px;
    display: inline-block;
    line-height: 20px;
  }
}
section.profile-head .head .promo-wrapper {
  position: absolute;
  top: 28px;
  left: 42%;
}
@media only screen and (max-width: 850px) {
  section.profile-head .head .promo-wrapper {
    left: 37%;
  }
}
@media only screen and (max-width: 780px) {
  section.profile-head .head .promo-wrapper {
    position: absolute;
    top: 85px;
  }
}
section.profile-head .head .promo-wrapper span {
  display: inline-block;
  vertical-align: bottom;
  padding-bottom: 3px;
  padding-right: 10px;
}
section.profile-head .head .promo-wrapper .promo {
  border: 2px #8c8c8c dashed;
  padding: 7px;
  font-size: 22px;
  font-family: roboto_cnregular;
  color: #67a750;
  display: inline-block;
}
section.profile-head .head .promo-wrapper .promo i {
  font-size: 22px;
  color: #96c785;
  padding-left: 5px;
  cursor: pointer;
}
section.profile-head .head .promo-wrapper .promo i:hover {
  color: #67a750;
}
section.profile-head .head .balance {
  float: right;
  text-align: right;
}
@media only screen and (max-width: 470px) {
  section.profile-head .head .balance {
    margin-top: -5px;
  }
}
section.profile-head .head .balance .redeem {
  text-transform: uppercase;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
  font-size: 12px;
  padding: 3px 10px;
}
section.profile-head .head .balance span.balance {
  font-family: 'roboto_ltregular';
  color: #494949;
  float: none;
  font-size: 14px;
}
@media only screen and (max-width: 400px) {
  section.profile-head .head .balance span.balance {
    display: none;
  }
}
section.profile-head .head .balance p {
  text-transform: uppercase;
  display: block;
  line-height: 28px;
  padding-bottom: 3px;
}
section.profile-head .head .balance p .wrapper {
  min-width: 85px;
  display: inline;
}
section.profile-head .head .balance p a {
  overflow: hidden;
  text-decoration: none;
  font-family: roboto_medium;
  color: #67a750;
  font-size: 22px;
  line-height: 19px;
  float: right;
  margin: 4px;
  border-bottom: 1px solid #67a750;
}
section.profile-head .head .balance a {
  font-family: robotoitalic;
  text-decoration: none;
  border-bottom: 1px solid #494949;
  color: #494949;
}
section.profile-body {
  padding-top: 10px;
  background: #fafafa;
}
section.profile-body .table-head {
  font-family: 'roboto_ltregular';
}
section.profile-body .table-head .show-status {
  display: none;
  padding: 10px;
  position: absolute;
  left: 5%;
  top: 40px;
  background: #fff;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0 1px 18px rgba(0,0,0,0.1);
  z-index: 9;
}
section.profile-body .table-head .show-status ul {
  text-align: center;
  list-style: none;
}
section.profile-body .table-head .show-status ul li {
  padding-bottom: 7px;
}
section.profile-body .table-head .show-status ul li a {
  text-decoration: dashed;
  color: #333;
  border-bottom: 1px dashed;
}
section.profile-body .table-head div {
  position: relative;
  display: inline-block;
  width: 33%;
  padding: 15px 15px 10px 0;
/* Firefox 19+ */
/* Firefox 18- */
}
section.profile-body .table-head div i.search {
  position: absolute;
  bottom: 19px;
  left: 10px;
}
section.profile-body .table-head div i {
  margin-right: 5px;
  font-size: 20px;
  vertical-align: middle;
}
section.profile-body .table-head div a {
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #333;
}
section.profile-body .table-head div input {
  padding-left: 35px;
  width: 200px;
}
section.profile-body .table-head div input.calendar-range {
  background: transparent;
  border-bottom: 1px solid #333;
  padding: 0;
  width: 168px;
}
section.profile-body .table-head div input.cal {
  background: transparent;
  border-bottom: 1px solid #333;
  padding: 0;
  width: 90px;
}
section.profile-body .table-head div input.calendar-range::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
  text-align: center;
}
section.profile-body .table-head div input.calendar-range::-moz-placeholder {
  color: #333;
  opacity: 1;
  text-align: center;
}
section.profile-body .table-head div input.calendar-range:-moz-placeholder {
  color: #333;
  opacity: 1;
  text-align: center;
}
section.profile-body .table-head div input.calendar-range:-ms-input-placeholder {
  color: #333;
  opacity: 1;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  section.profile-body .table-head .filter-name {
    width: 100%;
  }
  section.profile-body .table-head .filter-name input {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  section.profile-body .table-head .filter-name {
    padding: 10px 0;
  }
}
section.profile-body .table-head .filter-date .date-reset {
  background: transparent;
  position: absolute;
  margin-left: -16px;
  font-size: 16px;
}
@media only screen and (max-width: 1100px) {
  section.profile-body .table-head .filter-date {
    width: 50%;
  }
}
@media only screen and (max-width: 860px) {
  section.profile-body .table-head .filter-date {
    text-align: center;
    width: 52%;
  }
}
@media only screen and (max-width: 1100px) {
  section.profile-body .table-head .filter-status {
    width: auto;
  }
}
@media only screen and (max-width: 860px) {
  section.profile-body .table-head .filter-status {
    text-align: center;
    width: 35%;
  }
}
@media only screen and (max-width: 440px) {
  section.profile-body .table-head .filter-status {
    padding: 10px 0;
    width: 48%;
  }
}
section.profile-body .table-orders {
  word-spacing: -0.36em;
  border: 1px solid #e4e4e4;
  width: 100%;
  font-family: 'roboto_ltregular';
}
section.profile-body .table-orders a.table-row {
  display: block;
  background: #fff;
  border-bottom: 1px solid #e4e4e4;
  text-decoration: none;
}
section.profile-body .table-orders a.table-row:focus {
  outline: 0;
}
section.profile-body .table-orders a.table-row:hover {
  position: relative;
  box-shadow: 0 1px 18px rgba(0,0,0,0.1);
}
section.profile-body .table-orders a.table-row:hover .name {
  color: #67a750;
}
section.profile-body .table-orders a.table-row:hover .name span {
  border-bottom: 1px solid #67a750;
}
section.profile-body .table-orders a.test-tutorial {
  display: none;
}
section.profile-body .table-orders .col {
  font-family: 'roboto_ltregular';
  color: #333;
  padding: 15px;
  display: inline-block;
  background: #fff;
}
section.profile-body .table-orders .col span {
  word-spacing: 0;
}
section.profile-body .table-orders .name {
  font-family: roboto_medium;
  width: 35%;
}
@media only screen and (max-width: 860px) {
  section.profile-body .table-orders .name {
    width: 59%;
  }
}
@media only screen and (max-width: 400px) {
  section.profile-body .table-orders .name {
    width: 55%;
  }
}
section.profile-body .table-orders .date {
  width: 35%;
}
@media only screen and (max-width: 860px) {
  section.profile-body .table-orders .date {
    display: none;
  }
}
section.profile-body .table-orders .date-mobile {
  display: none;
}
@media only screen and (max-width: 860px) {
  section.profile-body .table-orders .date-mobile {
    display: block;
    font-family: 'roboto_ltregular';
  }
}
section.profile-body .table-orders .status {
  text-align: center;
  width: 15%;
}
@media only screen and (max-width: 860px) {
  section.profile-body .table-orders .status {
    width: 21%;
    vertical-align: text-bottom;
  }
}
@media only screen and (max-width: 400px) {
  section.profile-body .table-orders .status {
    width: 25%;
  }
}
section.profile-body .table-orders .balance {
  font-family: roboto_medium;
  width: 15%;
  text-align: right;
}
@media only screen and (max-width: 860px) {
  section.profile-body .table-orders .balance {
    width: 20%;
    vertical-align: text-bottom;
  }
}
section.profile-body .table-orders .complete {
  color: #67a750;
}
section.profile-body .table-orders .paid {
  color: #a73524;
}
section.profile-body .customer-info {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 50px;
}
section.profile-body .customer-info .top {
  padding: 20px;
  text-align: center;
  font-family: roboto_medium;
  font-size: 16px;
  border-bottom: 1px solid #e4e4e4;
}
section.profile-body .customer-info .top i {
  color: #d3d3d3;
  vertical-align: text-top;
  font-size: 22px;
  margin-right: 5px;
}
section.profile-body .customer-info .body {
  padding: 20px;
}
section.profile-body .customer-info .body .radio {
  list-style-type: none;
  font-family: 'roboto_ltregular';
}
section.profile-body .customer-info .body .radio li {
  line-height: 26px;
}
section.profile-body .customer-info .body .radio li span {
  vertical-align: middle;
}
section.profile-body .customer-info .body .radio li input {
  position: relative;
  margin: 0 5px 0 0;
  height: 19px;
  vertical-align: middle;
}
section.profile-body .customer-info .body .inventory {
  text-align: center;
  font-family: roboto_medium;
}
section.profile-body .customer-info .body .inventory p {
  margin-top: 10px;
  font-family: 'roboto_ltregular';
  font-size: 14px;
  text-transform: none;
}
section.profile-body .customer-info .body .inventory label {
  cursor: pointer;
  border-bottom: 1px dashed #333;
  white-space: nowrap;
  padding-bottom: 2px;
  overflow: hidden;
  font-size: 20px;
  text-transform: uppercase;
}
section.profile-body .customer-info .body button {
  margin-top: 30px;
  padding: 10px 40px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
}
section.profile-settings .title {
  margin: 30px 0;
  font-family: roboto_medium;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
}
section.profile-settings .container {
  margin-bottom: 50px;
  max-width: 550px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  padding: 50px 90px;
}
@media only screen and (max-width: 600px) {
  section.profile-settings .container {
    padding: 40px 60px;
  }
}
@media only screen and (max-width: 400px) {
  section.profile-settings .container {
    padding: 40px;
  }
}
section.profile-settings .container form .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a94442;
}
section.profile-settings .container form .avatar-text {
  max-width: 225px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}
@media only screen and (max-width: 400px) {
  section.profile-settings .container form .avatar-text {
    margin-left: 10px;
  }
}
section.profile-settings .container form .avatar-text .name {
  font-family: roboto_medium;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 400px) {
  section.profile-settings .container form .avatar-text .name {
    font-size: 22px;
    line-height: 26px;
  }
}
section.profile-settings .container form .avatar-text .email {
  font-family: 'roboto_ltregular';
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 400px) {
  section.profile-settings .container form .avatar-text .email {
    font-size: 18px;
    line-height: 22px;
  }
}
section.profile-settings .container form .avatar-text .upload {
  font-family: 'roboto_ltregular';
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid #333;
  cursor: pointer;
  font-weight: 300;
}
section.profile-settings .container form #specialist {
  margin-bottom: 10px;
}
section.profile-settings .container form .specialist span {
  vertical-align: middle;
}
section.profile-settings .container form .specialist input {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
section.profile-settings .container form .specialist .col-md-6 {
  margin-bottom: 5px;
}
section.profile-settings .container form img.avatar {
  width: 130px;
  height: 130px;
  padding: 0;
  border-radius: 70px;
}
@media only screen and (max-width: 430px) {
  section.profile-settings .container form img.avatar {
    width: 100px;
    height: 100px;
  }
}
section.profile-settings .container form input[type=radio] {
  margin-right: 5px;
}
section.profile-settings .container form [name=password] {
  opacity: 1;
  color: #333;
  font-size: 20px;
}
section.profile-settings .container form [name=password]::-webkit-input-placeholder {
  color: #333;
  opacity: 1;
}
section.profile-settings .container form [name=password]::-moz-placeholder {
  color: #333;
  opacity: 1;
}
section.profile-settings .container form [name=password]:-moz-placeholder {
  color: #333;
  opacity: 1;
}
section.profile-settings .container form [name=password]:-ms-input-placeholder {
  color: #333;
  opacity: 1;
}
section.profile-settings .container form button {
  margin-top: 30px;
  padding: 10px 40px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
}
.invites .title {
  font-family: roboto_medium;
  font-size: 32px;
  line-height: 44px;
  color: #333;
  margin: 10px 0 25px 0;
}
.invites .invite-block {
  padding: 30px 40px;
  background-color: #efefef;
  border: 1px solid #e4e4e4;
}
@media only screen and (max-width: 940px) {
  .invites .invite-block {
    text-align: center;
    padding: 20px;
  }
}
.invites .invite-block .code {
  display: inline-block;
}
.invites .invite-block .code p {
  font-family: 'roboto_ltregular';
  font-size: 14px;
  padding-bottom: 10px;
}
.invites .invite-block .code a {
  font-size: 16px;
}
.invites .invite-block .send {
  float: right;
  display: inline-block;
  margin-top: 5px;
}
@media only screen and (max-width: 940px) {
  .invites .invite-block .send {
    width: 100%;
    text-align: center;
  }
}
.invites .invite-block .send input {
  height: 35px;
  width: 220px;
}
@media only screen and (max-width: 940px) {
  .invites .invite-block .send input {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}
.invites .invite-block .send button {
  float: right;
  margin-left: 10px;
  padding: 7px 35px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
}
@media only screen and (max-width: 940px) {
  .invites .invite-block .send button {
    float: none;
    margin: 10px 0 0 0;
  }
}
div.insurance {
  background-color: #fafafa;
}
div.insurance .title {
  font-family: roboto_medium;
  font-size: 30px;
  line-height: 40px;
  color: #333;
  margin: 25px 0;
}
.row.insurance {
  margin: 0;
}
.row.insurance .files-block {
  display: inline-block;
  width: 50%;
}
@media only screen and (max-width: 1100px) {
  .row.insurance .files-block {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .row.insurance .col-md-4 {
    display: block;
    width: 100%;
  }
}
.row.insurance .form-block {
  background-color: #fff;
  float: right;
  width: 410px;
  height: 210px;
  margin-right: 50px;
  box-shadow: 0 0px 5px rgba(0,0,0,0.25);
  padding: 15px 50px;
  text-align: center;
}
@media only screen and (max-width: 1100px) {
  .row.insurance .form-block {
    margin: 0 auto 50px auto;
    float: none;
  }
}
.row.insurance .form-block h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-family: roboto_medium;
}
.row.insurance .form-block form {
  margin-top: 15px;
}
.row.insurance .form-block form label {
  font-size: 12px;
  display: inline-block;
  padding-right: 10px;
  vertical-align: top;
  width: 55px;
}
.row.insurance .form-block form input {
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  width: 70%;
  height: 30px;
}
.row.insurance .form-block form textarea {
  font-size: 12px;
  line-height: 14px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  width: 70%;
}
.row.insurance .form-block form button {
  text-transform: uppercase;
  padding: 7px 25px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
}
.row.insurance a {
  text-decoration: none;
}
.insurance-block {
  margin-bottom: 50px;
  background: url("../images/front/insurance-bg.png") no-repeat 100% 50%;
  background-size: cover;
  background-color: #fff;
  position: relative;
  height: 210px;
  width: 170px;
  padding: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0px 5px rgba(0,0,0,0.25);
}
@media only screen and (max-width: 600px) {
  .insurance-block {
    margin: 0 auto 20px auto;
  }
}
.insurance-block .pdf {
  position: absolute;
  top: 85px;
  left: 50px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0px 5px rgba(0,0,0,0.5);
  width: 70px;
  border-radius: 100px;
}
.insurance-block .pdf img {
  width: 30px;
}
.insurance-block p {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
}
.insurance-content {
  background-color: #fff;
  padding: 25px;
  border-radius: 1px;
  box-shadow: 0 0px 5px rgba(0,0,0,0.25);
  margin-bottom: 25px;
}
.insurance-content .image {
  width: 385px;
  padding-right: 10px;
  float: left;
}
.insurance-content .text {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  vertical-align: middle;
  text-align: justify;
}
.modal-order {
  border-radius: 10px;
  padding: 35px 15px;
}
@media only screen and (max-width: 460px) {
  .modal-order {
    padding: 15px;
  }
}
.modal-order .close {
  background: url("../images/front/close.png") no-repeat 50% 50%;
  background-size: cover;
  color: #363;
  opacity: 1;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 17px;
  right: 20px;
}
.modal-order .close span {
  vertical-align: middle;
}
.modal-order .head {
  height: 70px;
  padding: 20px;
  margin: -35px -15px;
  border-radius: 5px;
  background-color: #fc3;
}
.modal-order .head .title {
  margin-top: 8px;
  padding: 0 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #333;
  display: inline-block;
}
.modal-order .head .edit-order {
  vertical-align: middle;
  color: #fff;
  display: inline-block;
  padding: 6px 20px;
  font-family: roboto_medium;
  background: #390;
  border-radius: 5px;
  border-bottom: 1px solid #333;
}
.modal-order .head .edit-order i {
  margin-right: 3px;
}
.modal-order .container {
  padding: 0;
  width: 100%;
  margin-top: 40px;
  overflow-y: auto;
}
.modal-order .container .no-border {
  border: none !important;
}
.modal-order .container .info {
  width: 50%;
  display: inline-block;
  padding: 0 15px;
  margin-top: 10px;
  font-family: roboto_ltregular;
  line-height: 16px;
  font-size: 16px;
}
.modal-order .container .info p {
  margin-bottom: 10px;
}
.modal-order .container .info p span {
  margin-left: 5px;
}
.modal-order .container .center {
  margin: 50px 0 0 18%;
}
.modal-order .container form {
  padding: 10px 20px;
}
.modal-order .container form label {
  color: #b0b0b0;
  font-family: roboto_medium;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
.modal-order .container form .form-control {
  font-family: roboto_medium;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
  margin-bottom: 5px;
}
.modal-order .container form .form-control:focus {
  box-shadow: none;
}
.modal-order .container form .editable {
  border: 1px solid #390;
  padding: 5px;
  margin: 5px 0 0 0;
}
.modal-order .container form textarea {
  font-size: 12px;
  width: 234px;
  max-width: 234px;
  height: 60px;
  max-height: 60px;
}
.modal-order .container form .form-group {
  border-bottom: 1px solid #b0b0b0;
}
.modal-order .container form .download {
  display: block;
  margin: 10px 0;
  font-family: roboto_medium;
  text-decoration: none;
  color: #333;
}
.modal-order .container form .download img {
  width: 25px;
}
.modal-order .container form .download span {
  vertical-align: middle;
}
.modal-order .container form label.label-file {
  display: none;
  text-transform: inherit;
  color: #7979e8;
  border-bottom: 1px solid;
}
.modal-order .container form .no-file {
  display: none;
}
.modal-order .container .result {
  width: 47%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
  padding: 25px;
  background: #333;
  color: #fff;
}
.modal-order .container .result p.form-control {
  color: #fff;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 0;
}
.modal-order .container .result .download {
  display: block;
  margin: 10px 0;
  font-family: roboto_medium;
  text-decoration: none;
  color: #fff;
}
.modal-order .container .result .download img {
  width: 25px;
}
.modal-order .container .result .download span {
  vertical-align: middle;
}
.modal-order .container .button {
  margin: 20px 0 0 0;
  padding: 7px 35px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
  display: inline-block;
}
.modal-order .container button {
  margin: 20px 0 0 0;
  padding: 7px 35px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
}
.create-order {
  width: 25%;
  max-width: 250px;
  float: right;
}
@media only screen and (max-width: 1100px) {
  .create-order {
    width: 35%;
  }
}
@media only screen and (max-width: 770px) {
  .create-order {
    width: 40%;
  }
}
@media only screen and (max-width: 700px) {
  .create-order {
    width: 100%;
    float: none;
    margin: 0 auto;
    max-width: 350px;
  }
}
.items {
  width: 75%;
  float: left;
}
.items .title {
  font-family: roboto_medium;
  font-size: 30px;
  line-height: 40px;
  color: #333;
}
.items .history {
  padding: 25px 0;
}
@media only screen and (max-width: 1100px) {
  .items {
    width: 65%;
  }
}
@media only screen and (max-width: 770px) {
  .items {
    width: 60%;
  }
}
@media only screen and (max-width: 700px) {
  .items {
    width: 100%;
    margin-bottom: 20px;
    float: none;
  }
}
.label-file {
  cursor: pointer;
}
.help-block {
  font-family: 'roboto_ltregular';
  color: #e63a0f;
  font-size: 14px;
}
.help-block i.fa-exclamation-circle {
  font-size: 20px !important;
  color: #e63a0f;
  vertical-align: middle !important;
}
.help-block strong {
  font-weight: 100;
  vertical-align: middle !important;
}
.edit-order-field {
  color: #5555d6;
  margin-left: 3px;
  cursor: pointer;
}
label.info-label {
  position: relative;
  cursor: pointer;
  padding: 0;
  font-weight: 100;
}
label.info-label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #989494;
  border-radius: 3px;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 6px;
  background: #333;
  width: 3px;
  height: 3px;
  box-shadow: 2px 0 0 #333, 4px 0 0 #333, 4px -2px 0 #333, 4px -4px 0 #333, 4px -6px 0 #333, 4px -8px 0 #333;
  transform: rotate(45deg);
}
section.reset-password {
  margin-top: 20px;
}
section.reset-password h2.title {
  font-family: roboto_medium;
  font-size: 26px;
  line-height: 44px;
  text-align: center;
  color: #333;
}
section.reset-password .delimiter {
  height: 5px;
  width: 50px;
  margin: 15px auto;
  background: #ffea5c;
}
section.reset-password button {
  margin-top: 10px;
  padding: 7px 30px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
}
.loader {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 200px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 15%;
}
.loader div {
  transform-origin: center center;
}
.loader .ball-scale-multiple {
  position: relative;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}
.orderModal .modal-dialog {
  width: 600px;
  margin: 30px auto;
}
.modal-sign .close {
  margin: -25px -35px;
  font-size: 34px;
}
.modal-sign .modal-content {
  padding: 20px 40px 10px 40px;
  border-top: 5px solid #5da44d;
  font-family: "Source Sans Pro";
}
.modal-sign .forgot {
  color: #dde3e2;
  font-size: 12px;
  border-bottom: 1px solid;
  text-decoration: none;
}
.modal-sign .info {
  color: #5da44d;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  margin-bottom: 15px;
}
.modal-sign h3 {
  text-transform: uppercase;
  font-family: roboto_medium;
  margin: 25px 0;
}
.modal-sign form .form-group {
  position: relative;
  margin-bottom: 15px;
}
.modal-sign form .form-group img {
  position: absolute;
  left: 5px;
  top: 12px;
}
.modal-sign form input {
  padding-left: 35px;
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #c4c4c4;
}
.modal-sign form input:focus {
  outline: 0;
  border-color: #c4c4c4;
  box-shadow: none;
}
.modal-sign form .error-input {
  border: 2px solid #e63a0f;
}
.modal-sign form .help-block {
  font-size: 13px;
}
.modal-sign form button {
  font-family: roboto_medium;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 40px;
  background: #5da44d;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(129,162,117,0.7);
  margin: 12px 0;
}
.modal-sign .modal-footer {
  margin: 50px -40px 0 -40px;
}
.modal-sign .modal-footer p {
  color: #dde3e2;
  font-size: 12px;
  text-align: center;
}
.modal-sign .modal-footer p a {
  text-decoration: none;
  color: #5da44d;
  border-bottom: 1px solid #5da44d;
}
#resetModal h3 {
  font-size: 23px;
}
.introjs-tooltiptext {
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-family: "Source Sans Pro";
}
.introjs-tooltiptext h3 {
  margin-bottom: 10px;
}
#PromoModal .modal-dialog {
  width: 400px;
}
#PromoModal .modal-dialog .close {
  position: absolute;
  font-size: 30px;
  right: 11px;
  top: 0;
}
#PromoModal .modal-dialog .modal-content {
  border-radius: 0;
  padding: 30px 40px 15px 40px;
}
#PromoModal .modal-dialog h3 {
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}
#PromoModal .modal-dialog form .form-group {
  position: relative;
  margin-bottom: 15px;
}
#PromoModal .modal-dialog form .form-group label.info-label {
  position: absolute;
  top: 10px;
}
#PromoModal .modal-dialog form input {
  padding-left: 35px;
  outline: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid #c4c4c4;
  font-style: italic;
  font-weight: bold;
}
#PromoModal .modal-dialog form input:focus {
  outline: 0;
  border-color: #c4c4c4;
  box-shadow: none;
}
#PromoModal .modal-dialog form textarea {
  height: 100px;
  max-height: 100px;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  font-family: 'roboto_ltregular';
  font-size: 12px;
  line-height: 16px;
}
#PromoModal .modal-dialog form .error-input {
  border: 2px solid #e63a0f;
}
#PromoModal .modal-dialog form .help-block {
  font-size: 13px;
}
#PromoModal .modal-dialog form button {
  margin-top: 10px;
  padding: 7px 30px;
  color: #333;
  font-family: roboto_medium;
  background: #ffea5c;
  border-radius: 2px;
  border-bottom: 3px solid #d9c74e;
  text-transform: uppercase;
}
#image-wrapper {
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
#avatar {
  opacity: 0;
  width: 100%;
  height: 130px;
  position: absolute;
  top: 0;
}
